services:
  - type: web
    name: codehub-backend
    env: node
    plan: free
    region: singapore
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: PORT
        value: 10000
